<div id="title-component">
  Title:
  <input type="title" name="components[{{ state.order }}]-title-text" value="{{ state.text }}" />
  <br />
  Sub:
  <input type="title" name="components[{{ state.order }}]-title-sub" value="{{ state.sub }}" />
</div>